main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}

#section-login{
    height: 100%;
    width: 400px;
    border-radius: 20px;
    border: 2px solid black;
    padding: 10px 20px;
    margin-top: 30px;
}

h2{
    font-size: 30px;
    text-align: center;
}
#section-login img{
    display: flex;
    height: 70px;
    width: 70px;
    margin: 0 auto;
}

.col-auto{
    text-align: center;
}

#section-login button{
    font-size: 20px;
}